@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;margin: 0;box-sizing: border-box;font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(to left,rgba(255, 0, 0, 0.35),rgba(255, 255, 0, 0.35),rgba(0, 0, 0, 0.35));
    display: flex;
    align-items: center;
    justify-content:center;
}
.container{
    width:600px;
    min-height: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
h1{
    font-size: 30px;
    padding-bottom: 30px;
}
p{
    font-size: 18px;
    margin-bottom: 15px;
}
ul{
    width: 100%;
    min-height: 63px;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 20px;
    gap: 10px;
}
input{
    font-size: 16px;
    flex: 1;
    background-color: transparent;
    outline: none;
    border:none;
    caret-color: red}
li{
    padding:5px 8px 5px 10px ;
    font-size: 16px;
    background-color:#F2F2F2;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
span{
    border-radius: 50%;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    background-color: #dfdfdf;
    text-align: center;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span::before{content: 'x';}
